.content-avatar {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: var(--white-bg-color);
    cursor: pointer;
}

.content-avatar .avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.ocult {
    display: none;
}