.navbar {
    max-width: 100%;
    height: 60px;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-bg-color);
}

.logo {
    color: var(--white-bg-color);
}

.content-items {
    width: 500px;
    display: flex;
    align-items: center;
}

.item-nav {
    text-align: center;
    text-decoration: none;
    color: var(--white-bg-color);
    padding-left: 30px;
    cursor: pointer;
}

.content-menu-user {
    width: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: transparent;
}

.content-menu-user-show {
    width: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: transparent;
    margin-top: 210px;
}

@media screen and (max-width: 800px) {
    .content-items {
        display: none;
    }
}