h2 {
    text-align: center;
}

.inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info-inputs .content-data {
    width: 180px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.info-inputs .content-data label {
    color: var(--blue-bg-color);
}

.info-inputs .content-data p {
    color: var(--black-bg-color);
}