.content-filter-pb {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blue-bg-color);
}

.content-filter-pb img {
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}

.content-filter-pb p {
    margin-top: 10px;
    font-size: .9rem;
}

.selected-filter-pb {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 20px;
}

.selected-filter-pb .item-filter-pb {
    width: 100px;
    color: var(--blue-bg-color);
    cursor: pointer;
}