.container{
    text-align: center;
}

.container p {
    font-size: 2rem;
}

.cars {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cars-filter {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
