.content-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--blue-bg-color);
    margin-top: 40px;
}

.content-input .icon {
    position: relative;
    left: 30px;
}



.content-input .input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--blue-bg-color);
    color: var(--blue-bg-color);
    padding-left: 30px;
    outline: none;
}