.content-seller-form {
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 50px 0 50px 0;

}

@media screen and (max-width: 967px) {
    .content-seller-form {
        width: 100%;
        margin: auto;
    }

    .form {
        width: 80%;
        margin: auto;
        padding: 0;
    }
}