.content-select {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-bg-color);
    padding: 10px;
    border-radius: 10px;
}

.content-select-border {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--blue-bg-color);
    margin-top: 40px;
}

.content-select-border-error {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--red-bg-color);
    margin-top: 40px;
}

.content-select-border .icon {
    position: relative;
    left: 20px;
    z-index: 1;
}

.content-select-border-error .icon-red {
    position: relative;
    left: 20px;
    z-index: 1;
}

.content-select label {
    text-align: start;
    font-size: .8rem;
    color: var(--blue-bg-color);
}

.content-select .select {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    color: var(--blue-bg-color);
    cursor: pointer;
}

.content-select-border .select-border {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid var(--blue-bg-color);
    color: var(--blue-bg-color);
    cursor: pointer;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    right: 10px;
}

.content-select-border-error .select-border {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid var(--red-bg-color);
    color: var(--red-bg-color);
    cursor: pointer;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    right: 10px;
}

.content-select-error label {
    text-align: start;
    font-size: .8rem;
    color: var(--red-bg-color);
}

.content-select-error .select {
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid var(--red-bg-color);
    color: var(--blredue-bg-color);
    cursor: pointer;
    border-radius: 10px;
}

.ajust-select {
    margin-top: 20px;
}

.content-select-transparent {
    width: 120px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
}

.content-select-transparent .select {
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
    color: var(--white-bg-color);
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 1450px) {
    .content-select {
        width: 200px;
    }
}

@media screen and (max-width: 830px) {
    .content-select {
        width: 90%;
        height: 50px;
    }

    .content-select label {
        display: none;
    }

    .content-select .select {
        border-radius: 10px;
    }

    .ajust-select {
        margin-top: 0px;
    }
}
