:root {
  --blue-bg-color: #00A3FF;
  --white-bg-color: #fff;
  --gray-bg-color: #E8E8E8;
  --black-bg-color: #000;
  --blue-light-bg-color: #D7EFFF;
  --red-bg-color: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
