.content-filter {
    width: 60%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

.content-selects {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content-selects-transparent {
    width: 90%;
    margin: auto;
    display: flex;
}

.content-selects button {
    width: 200px;
    height: 90px;
    outline: none;
    background-color: var(--blue-bg-color);
    color: var(--white-bg-color);
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 1600px) {
    .content-filter {
        width: 90%;
    }

    .content-selects-transparent {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .content-filter {
        width: 90%;
    }

    .content-selects-transparent {
        width: 80%;
    }
}

@media screen and (max-width: 830px) {
    .content-filter {
        width: 90%;
        height: 100px;
        top: -300px;
    }

    .content-selects-transparent {
        width: 90%;
    }

    .content-selects {
        justify-content: center;
        align-items: center;
    }

    .content-selects button {
        height: 70px;
    }
}

@media screen and (max-width: 487px) {
    .content-filter {
        width: 80%;
    }
}